@import url("./scss/bootstrap-min.css");
@import url("./scss/style.css");

.centered {
    margin-left : 50%;
    margin-top: 10%;
}

@media screen and (max-width: 700px) {
    
        .centered {
            margin-left : 36%;
            margin-top: 40%;
        }
  }