@font-face {
  family: "Helvetica";
  weight: 300;
  src: url("../static/fonts/Helvetica-Light.ttf");
}

@font-face {
  family: "Helvetica";
  weight: 400;
  src: url("../static/fonts/Helvetica.ttf");
}

@font-face {
  family: "Helvetica";
  weight: 700;
  src: url("../static/fonts/Helvetica-Bold.ttf");
}
